header {
    display: flex;
    justify-content: space-between;
    background-color: #706fd3;
    padding: 10px 20px;
    border-bottom: 10px solid #2c2c54;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #ff793f;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}